*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p{
  color: #1a1a1a;
}

.flexdd{
  display: flex;
  align-items: center;
}
h1{
  color: #1a1a1a;
}

h2{
  color: #1a1a1a;
}

body{
  background-color: #fffffa;
  font-family: 'Lora', serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
.lifestyle__image{
  width: 95%;
  object-fit: cover;
  height: 250px;
}
.container{
  width: 95%;
  max-width: 1700px;
  margin: 20px auto;
}

.header__title{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 96px;
  font-weight: 400;
  color: #313131;
}
.fleeex{
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}
.result{
  width: 200px;
}
.logo__list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__search{
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  transition: 0.3s;
  &:focus{
    outline: transparent;

  }
}

.navbar{

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list{
  margin: 25px 20px;
  display: flex;
  gap: 66px;
  align-items: center;
  justify-content: center;
}

.nav__link{
  color: #656565;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s;
  &:hover{
    color: #b90000;
  }
}

.main__title{
  margin-top: -20px;
  color: #313131;
  font-family: 'Lora', serif;
  font-size: 68px;
  font-weight: 300;
  text-align: center;
}

.main__title-container{
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 5px;
}

.article__container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 60px;
}

.image{
  width: 100%;
  height: 100%;
}

.image__link{
  width: 100%;
  height: 100%;
}

.article__title{
  width: 100%;
  font-size: 34px;
}

.article__list{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.image-second{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.article__list2{
  display: flex;
  align-items: flex-end;
}

.article__main-list{
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-right: 100px;
}

.top__news{
  font-size: 16px;
  color: white;
  padding: 6px 10px;
  background-color: #b90000;
  width: 80px;
  text-align: center;
  border-radius: 25px;
}

.article__info-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.article__info-text{
  color: #a2a2a2;
  font-size: 15px;
}

.article__second-container{
  display: flex;
  gap: 30px;
}

.article__second-title{
  font-weight: 600;
}

.article__second-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.article__second-info .top__news{
  background-color: transparent;
  border: 1px solid #b90000;
  color: #1a1a1a;
  padding: 5px 9px;
}

.article__second-info{
  display: flex;
  justify-content: space-between;
}

.article__second-info-container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.article__second-info-container2{
  display: flex;
  align-items: center;
  gap: 5px;
}

.new__articles-container{
  border-top: 1px solid #1a1a1a;
  margin-top: 0px;
  padding-top: 100px;
}

.ShowBusiness__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ShowBusiness__item{
  display: flex;
  justify-content:  center;
  gap: 40px;
}

.dots{
  width: 100px;
  height: 100px;

}

.business__title{
  font-size: 44px;
  font-weight: 300;
  width: 500px;
}

.author-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.span{
  position: relative;
}

.author-name{
  color: #b90000;
}

.lifestyle__item{
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.lifestyle__list{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.society__img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.society__list{
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;

  gap: 20px;
}

.society__item{
  max-width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.society__title{
  font-size: 16px;
}

.society__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.society__list-left{
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}

.society__item-container{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.society__name{
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 6.66px;
  text-align: center;
  margin: 0;
}

.hag__list{
  display: flex;
  gap: 50px;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
}

.hag__item{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hag__img{
  object-fit: cover;
  height: 260px;
  width: 100%;
}

.hag__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hag__left-list{
  justify-content: flex-start;
  margin-bottom: 30px;
  display: flex;
  gap: 50px;
  width: 50%;
  align-items: flex-end;
  flex-direction: column;
}

.health__img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.technic__list{
  display: flex;
  align-items: center;
  gap: 115px;
}

.technic__left-list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 113px;
}

.technic__item{
  width: 20%;
}

.technic__container{
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 700px;
}

.technic__item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.oneArticle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.oneArticle__img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.techic{
  margin-top: 120px;
}
.oneArticle__img{
  width: 800px;
  box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.25);
}

.oneArticle__category-name{
  color: #FF3F3F;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.oneArticle__state-container{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.oneArticle__container{
  padding: 0 200px;
  margin-top: 70px;
}

.oneArticle__category{
  display: flex;
  align-items: center;
  gap: 10px;
}

.oneArticle__score-category{
  display: flex;
  align-items: center;
  gap: 10px;
}

.oneArticle__score-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-svg {
  transition: fill 0.2s ease-in-out;
}

.oneArticle__category-score{
  color: #606060;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.oneArticle__title{
  font-size: 30px;
  max-width: 1000px;
}

.oneArticle__text{
  letter-spacing: 1px;
  color: #454545;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.oneArticle__text-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}















.footer{
  margin-top: 100px;
  background-color: #111111;
  height: 300px;
}

.footer__title{
  font-family: 'Lora', serif;
  font-size: 55px;
  font-weight: 400;
  color: #e7e7e7;
  text-align: center;
}

.footer__list{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
  height: 150px;
}

.footer__link{
  color: #bbbbbb;
  transition: 0.2s;
  font-size: 20px;
  &:hover{
    color: white;
  }
}

.footer__container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.footer__list-container{
  display: flex;
  justify-content: center;
}
.mb{
  font-size: 70px;
  width: 100%;
}
.search{
  height: 30px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid gray;
  width: 200px;
}
.stat{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}
@media (max-width:800px){
  .logo__list{
    flex-direction: column;
  }
  .nav__list{
    flex-direction: column;
    gap: 20px;
  }
  .navbar{
  }
  .container{
    max-width: 95%;
  }
  .society__name{
    font-size: 80px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .article__container{
    flex-direction: column;
  }
  .article__main-list{
    margin: 0;
  }
  .article__second-container{
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .image-second{
    width: 100%;
  }
  .lifestyle__list{
    flex-direction: column;
  }
  .lifestyle__item{
    max-width: 100%;
  }
  .lifestyle__image{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .society__container{
    flex-direction: column;
  }
  .society__list{
    flex-direction: column;
    max-width: 100%;
  }
  .society__item{
    max-width: 100%;
  }
  .new__articles-container{
    padding-top: 35px;
  }
  .society__list-left{
    max-width: 100%;
    justify-content: center;
  }
  .hag__list{
    width: 100%;
  }
  .hag__container{
    flex-direction: column;
  }
  .hag__img{
    width: 100%;
  }
  .hag__item{
    max-width: 100%;
  }
  .hag__left-list{
    width: 100%;
  }
  .technic__list{
    flex-direction: column;
    gap: 25px;
  }
  .technic__item{
    width: 100%;
  }
  .technic__left-list{
    gap: 30px;
    flex-direction: column;
  }

  .footer__list{
    flex-direction: column;
  }
  .footer{
    height: 260px;
  }
  .oneArticle__img{
    width: 100%;
    margin: 20px 0 0 0;
  }
  .oneArticle__container{
    padding: 0;
  }
  .mobail_stat{
    flex-direction: column-reverse;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav__list{
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease;
  }

  .open span:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .open span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .open span:nth-child(2) {
    opacity: 0;
  }

  .nav__list {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav__item {
    margin-bottom: 10px;
  }
  .open{
    display: flex;
  }
  .nav__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .nav__link:hover {
    color: blue;
  }
  .navbar{
    flex-direction: column;
  }
  .main__title{
    font-size: 45px;
    margin-top: 0px;
  }
  .main__title-container{
    padding-bottom: 15px;
  }

  .header__title{
    font-size: 60px;
    width: 50%;
    margin: 0 auto 10px;
    line-height: 1.1;
  }

  .lupa{
    display: none;
  }
  .techic{
    margin-top: 1245px;
  }
  .mb{
    font-size: 38px;
    width: 100%;
  }
  .mobile_title{
    display: none;
  }
}

